@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 88%;
    --foreground: 276 100% 5%;
    --card: 0 0% 94%;
    --card-foreground: 276 100% 8%;
    --popover: 0 0% 94%;
    --popover-foreground: 276 100% 8%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 271 76% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 80%;
    --input: 0 0% 75%;
    --ring: 275 100% 25%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 275 20% 5%;
    --foreground: 0 0% 90%;
    --card: 275 20% 8%;
    --card-foreground: 0 0% 92%;
    --popover: 275 20% 8%;
    --popover-foreground: 0 0% 92%;
    --primary: 271 76% 70%;
    --primary-foreground: 275 100% 5%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 271 76% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 15%;
    --input: 275 20% 15%;
    --ring: 271 76% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
